<library path="lib/librqt_compass">
  <class name="rqt_compass/compass" type="rqt_compass::compass" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin.
    </description>
    <qtgui>
      <label>Compass</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin.</statustip>
    </qtgui>
  </class>
</library>
