<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find g500arm5_gazebo)/worlds/g500arm5.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <group ns="robot_0">
  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf_robot_0" pkg="gazebo_ros" type="spawn_model" args="-file $(find g500arm5_description)/urdf/g500arm5.sdf -sdf -robot_namespace robot_0 -x 0 -y 0 -z 5 -model g500arm5" />

  </group>

</launch>
