<launch>
  <group ns="videoray">

    <remap from="sonar_max_range" to="rqt_blueview/sonar_max_range" />  
    <remap from="sonar_min_range" to="rqt_blueview/sonar_min_range" />  
    <remap from="sonar_thresh" to="rqt_blueview/sonar_thresh" />        
    <remap from="sonar_enable_log" to="rqt_blueview/sonar_enable_log" />
    <include file="$(find sonar_2d)/launch/sonar-playback.xml" />         
    
    <node pkg="image_view" name="image_view_sonar" type="image_view" args="image:=sonar_image"/>
    
    <node pkg="rqt_blueview" name="rqt_blueview" type="rqt_blueview" />
  </group>

</launch>
