<launch>

  
  <param name="joystick_dev" value="/dev/input/js2" />
  <!-- <remap from="joystick" to="/rqt_thrust_monitor/throttle_cmd" />-->
  <node pkg="input" name="joystick_1" type="joystick" output="screen">
    <param name="tick_rate" type="double" value="100" />
  </node>

  <!-- Thrust Monitor -->
  <node pkg="rqt_thrust_monitor" name="rqt_thrust_monitor" type="rqt_thrust_monitor" output="screen"/>

</launch>
