<library path="lib/librqt_blueview">
  <class name="rqt_blueview/blueview" type="rqt_blueview::blueview" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin.
    </description>
    <qtgui>
      <label>blueview</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin.</statustip>
    </qtgui>
  </class>
</library>
