<launch>

  <arg name="gui_enable" default="true" />

  <!-- Launch the regular VideoRay deploy file -->
  <include file="$(find videoray)/launch/deploy.launch">
    <arg name="gui_enable" value="$(arg gui_enable)"/>
  </include>

  <group ns="videoray">  
    <!-- BlueView Sonar Node -->    
    <!-- 
    <include file="$(find sonar_2d)/launch/net_search.xml" >
      <arg name="gui_enable" value="$(arg gui_enable)"/>
    </include>
    -->    
    <include file="$(find sonar_2d)/launch/net_static.xml" >
      <arg name="gui_enable" value="$(arg gui_enable)"/>
    </include>
    
    <!-- Display Sonar Image Node -->
    <node pkg="image_view" name="image_view_sonar" type="image_view" args="image:=sonar_image"/>
  </group>

</launch>
