<library path="lib/librqt_thrust_monitor">
  <class name="rqt_thrust_monitor/thrust_monitor" type="rqt_thrust_monitor::thrust_monitor" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin.
    </description>
    <qtgui>
      <label>Thrust Monitor</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin.</statustip>
    </qtgui>
  </class>
</library>
