<library path="lib/librqt_uhri">
  <class name="rqt_uhri/uhri" type="rqt_uhri::uhri" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin.
    </description>
    <qtgui>
      <label>uhri</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin.</statustip>
    </qtgui>
  </class>
</library>
